services:
  postgres:
    image: postgres:16
    container_name: pgdb
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "55432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  auth:
    image: python:3.11-slim
    container_name: auth
    working_dir: /app
    volumes:
      - ./auth:/app
    command: >
      bash -lc "pip install -r requirements.txt && uvicorn main:app --host 0.0.0.0 --port 7000"
    environment:
      JWT_SECRET: ${JWT_SECRET}
      JWT_ALGO: ${JWT_ALGO}
    ports:
      - "7100:7000"

  db_app:
    image: python:3.11-slim
    container_name: db_app
    working_dir: /app
    volumes:
      - ./db_app:/app
    command: >
      bash -lc "pip install -r requirements.txt && uvicorn main:app --host 0.0.0.0 --port 8000"
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      JWT_SECRET: ${JWT_SECRET}
      JWT_ALGO: ${JWT_ALGO}
    depends_on:
      - postgres
      - rabbitmq
    ports:
      - "8000:8000"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"      # AMQP
      - "15672:15672"    # Web UI (http://localhost:15672)

  consumer:
    image: python:3.11-slim
    container_name: consumer
    working_dir: /app
    volumes:
      - ./consumer:/app
    command: >
      bash -lc "pip install -r requirements.txt && python main.py"
    depends_on:
      - rabbitmq

  postgres_exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:latest
    container_name: postgres_exporter
    restart: unless-stopped
    environment:
      DATA_SOURCE_NAME: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
    depends_on:
      - postgres

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - promdata:/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - db_app
      - postgres_exporter

  grafana:
    image: grafana/grafana:10.4.2
    container_name: grafana
    restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_USERS_ALLOW_SIGN_UP: "false"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

volumes:
  pgdata:
  promdata:
  grafana_data:
